# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.out
*.app

# other 
.vs
*.user

# deubg related
Debug

# original image file
resource/raw/lena-original.jpeg

# zip files
*.zip

# ipykernel checkpoints
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# exe files
*.exe
resource/raw/unnamed.jpg
rgb.bat
